@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Do+Hyeon&family=Pacifico&display=swap');
@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

html { 
    overflow:hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
}   
.loading {
    position:fixed;
    top:0%; left:0; bottom:0; right:0;
    background: #FDC800;
    overflow: hidden;
    text-align: center;
    z-index: 99;
}
.row { max-width:1024px; margin:0 auto;}

#menu { position:fixed; top:50%; transform:translate(90%, -50%); right:120px; z-index:9 }

#menu li { margin:10px 0; position:relative; }
#menu li i { 
    font-size:23px; 
    padding:5px; 
    color:#FDC800;
    transition:all 0.5s;
    text-shadow: 2px 2px 2px #888; 
}
#menu li span{ opacity:0; color:#666; font-size: 16px; position:absolute; top:7px; left:38px; }
#menu li.on span {opacity:1;}
#menu li.on i { color:#63D2F3;  transform:scale(1.2); }


section { 
    width:100vw; 
    height:100vh; 
    position:relative; top:0; left:0;
    overflow:hidden; 
    border-bottom: 1px solid #FBC800;
}

#sect1 {
    background-image: linear-gradient(135deg, #63D2F3 50%,  #Fbc800 50%);

}
#sect1 h1 {
transition: all 0.5s;
-webkit-text-stroke: 4px #d6f4f4;
font-variation-settings: "wght" 600, "ital" 1;
font-size: 8rem;
text-align: center;
color: transparent;
font-family: "Meta", sans-serif;
text-shadow: 10px 10px 0px #9ed027,
    15px 15px 0px #EB413B,
    45px 45px 10px #ff9d00;
cursor: pointer;
transform: translateY(50%);
}

#sect1 h1:hover {
font-variation-settings: "wght" 100, "ital" 0;
text-shadow: none;
}

#sect2 .particles{
    transform-style: preserve-3d;
    animation: rotate-container 10s infinite ease-in-out alternate;
}

@keyframes move {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    10% ,90%{
        opacity: 1;
    }
    100%{
        transform: translateY(45vw);
        opacity: 0;
    }
}
@keyframes rotate-container {
    0%{
        transform:
            perspective(1000px)
            translateZ(0px);
    }
    100%{
        transform:
            perspective(1000px)
            translateZ(150px);
    }
}

#sect2 .toy img {
    position:absolute;
}
#sect2 .toy img:nth-child(1) {
    width:350px; height:350px;
    position:absolute; right:0; top:-8%;
    animation: rainbow 10s infinite;
}
@keyframes rainbow{
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(45deg);
    }
    60%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }
#sect2 .toy img:nth-child(2) {
    width:150px; height:150px;
    transform: translate(30%, 370%);
}
#sect2 .toy img:nth-child(3) {
    width:150px; height:150px;
    transform: translate(29%, 370%);
}
#sect2 .toy img:nth-child(3):hover {
    opacity:0;
}

#sect2 .enTxt {
    font-weight: 500; 
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.05em; 
}
 
#sect2 .box {
    position: absolute; 
    width: 50%; 
    transform: translate(50%, 50%);
    border: 12px solid #FBC800; 
    border-radius:10px;
    box-shadow: 0px 0px 10px 7px #ddd; 
}
#sect2 .box:before {
    content: '';
    position: absolute; 
}
#sect2 .box .abSlide {
    width: 100%; 
    height: 100%; 	
    overflow: hidden;    
}
#sect2 .box .abSlide .aboutTxt {
    height: 80%; 
    display: inline-block; 
    vertical-align: center; 
}
   
#sect2 .box .abSlide .slick-track {
    height: 100%; 
    background: #fff; 
}

#sect2 .slick-arrow {
    z-index:9999;
    position:absolute; top:50%; transform:translateY(-50%);
    font-size:80px; color:#Fbc800; cursor:pointer; background: none;
    border:none; font-size:25px; opacity: 0.7; }

#sect2 .slick-arrow.slick-prev2 { left:10px;  }

#sect2 .slick-arrow.slick-next2 { right:10px; }



#sect2 .box .abSlide .aboutTxt.slide01 {
    font-size: 25px;
    letter-spacing: 0.2em;   
}
#sect2 .box .abSlide .slide01 .scrollEn {
    width: 100%; 
    height: 240px;
    line-height: 1.5; 
    overflow: hidden;
    font-size: 38px; 
    font-weight:bold;
    color: #3bc6f1; 

}
#sect2 .box .abSlide .slide01 .scrollEn .scrBox {
    animation: scrollEN 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; 
    padding: 40px 10px;
    text-align: center; 
}
@keyframes scrollEN {
    0% { transform: translateY(0); }
    20% { transform: translateY(0px); }
    40% { transform: translateY(-170px); }
    60% { transform: translateY(-170px); }
    80% { transform: translateY(-170px); }
    100% { transform: translateY(0px); }
}
#sect2 .box .abSlide .slide01 .scrollKo {
    width: 100%; 
    height: 90px; 
    line-height: 1.2; 
    overflow: hidden;
    font-size: 2rem; 
    font-weight: 800; 
    margin-bottom: 20px; 
    color:#9ed027;
}
#sect2 .box .abSlide .slide01 .scrollKo .scrBox {
    animation: scrollKO 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; 
    padding: 0px 0px 20px 0px;
    text-align: center;
}
@keyframes scrollKO {
    0% { transform: translateY(-100px); }
    20% { transform: translateY(-100px); }
    40% { transform: translateY(0px); }
    60% { transform: translateY(0px); }
    80% { transform: translateY(0px); }
    100% { transform: translateY(-100px); }
}

#sect2 .box .abSlide .slide02 {
    position: relative;
}

#sect2 .box .abSlide .slide02 .p01 {
    margin: 20px 0; 
    padding-left: 30px; 
    font-size: 1.5em; 
    display: inline-block; 
    border-bottom: 3px solid #3bc6f1; 
    font-family: 'Fredericka the Great';
    color:#3bc6f1;
    font-weight: 600;
}
#sect2 .box .abSlide .aboutTxt.slide02 .meTit {
    position: absolute;
    z-index: 99; 
    top: 70px; left: 45px; bottom: 0; 
    width: 80%; 
    letter-spacing: 0.2em; 
    text-align: left; 
    padding-bottom: 10px; 
}
#sect2 .box .abSlide .slide02 .meTit strong {
    display: inline-block; 
    font-size: 2.5rem; 
    color:#fff;
    opacity: 0.9; 
    font-weight: 500; 
    padding: 5px 30px 3px 30px; 
    margin: 30px 0 10px 0 ; 
    background: #3bc6f1; 
    font-size: 45px;
}

#sect2 .box .abSlide .slide02 .meTit .profile {
    font-size: 0.9rem;
    font-weight: 300; 
    line-height: 1.5;
    margin-top: 20px; 
    letter-spacing: 0; 
    color:#555
} 
#sect2 .box .abSlide .slide02 .meTxt {
    background: #abd645;
    position: absolute;
    left: 50%;
    right:50%;
    top: 0;
    opacity:0.8; transition: all 1.8s 1s;
    height:100vh;
   
}
#sect2 .box .abSlide .slide02.slick-current .meTxt {
    right:0;
}
#sect2 .box .abSlide .slide02 .meTxt .p02 {
    text-align: center; 
    font-size: 1.2em; 
    line-height: 1.5; 
    font-weight: 500; 
    margin:50px 0px;
    color:#555;
}
#sect2 .box .abSlide .slide02 .p02 span {
    display: inline-block; 
    padding: 0px 10px;
    margin:0 0 15px 0; 
    color: #fff;  
    border-bottom: 3px solid #3bc6f1;
    font-size:1.5em;
    font-family: 'Fredericka the Great';
    color: #3bc6f1;
    font-weight: 600;
}

#sect3 .typing-txt{
    display: none;
}
#sect3 .typing {  
    position:absolute;
    top:45%; left:37%;
    font-size: 75px;
    display: inline-block; 
    color:#3bc6f1;
    text-shadow: 2px 2px 2px #ddd; 
    font-family: 'Boogaloo';
    letter-spacing: 0.5em; 

} 

#sect3 #skill > .row { 
    display:flex; flex-wrap:wrap; 
    align-content:center; justify-content:center;
}
#sect3 #skill .container { 
    width:32%; 
    text-align:center; position:relative; 
    margin-top:100px;
}
#sect3 #skill .pBox { 
    width:180px; height: 180px; 
    position:absolute; line-height:180px;  
    color:#555;
    font-size:20px;
}
#sect3 #skill .tit {
    color:#555;
    transform: translate(0, 550%);
    font-size: 20px;
}
#sect3 img:nth-child(1) {
    width:150px; height:100px;
    position:absolute;
    top:34%; left:5%;
    animation: lego-ani 10s infinite;
}
#sect3 img:nth-child(2){
    width:200px; height:200px; 
    position:absolute; 
    bottom:0%; right:5%; 
    animation: drift 7000ms infinite linear;
}

@keyframes lego-ani {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(-40px, 30px);
    }
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}  
  
#sect4 .clouds img:nth-child(1) {
    width:200px; height:200px; 
    top:70%; right:150px;
    position: absolute;
    animation:cloud1 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
#sect4 .clouds img:nth-child(3) {
    position: absolute;
    top:50%; left:200px;
    width:200px; height:200px; 
    animation:cloud 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
#sect4 .clouds img:nth-child(2) {
    position: absolute;
    width:200px; height:200px; 
    animation: cloud 23s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
#sect4 .clouds img:nth-child(4) {
    width:300px; height:300px; 
    top:20%; right:150px;
    position: absolute;
    animation:cloud1 18s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
#sect4 .clouds img:nth-child(5) {
    width:200px; height:200px; 
    top:0%; left:200px;
    position: absolute;
    animation:cloud 11s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes cloud {
    0% {
      margin-left: -100px;
    }
    100% {
      margin-left: 1300px;
    }
}
@keyframes cloud1 {
    0% {
      margin-right: -100px;
    }
    100% {
      margin-right: 1300px;
    }
}

#sect4 .toy img {
    position:absolute; bottom:0; right:0;
}
#sect4 .toy img:nth-child(1) {
    width:270px; height:250px;
}
#sect4 .toy img:nth-child(2) {
    width:150px; height:160px;
    bottom: 6%; right:4%;
}
#sect4 .toy img:nth-child(2):hover {
    opacity:0;
}

#sect4 .circle {
    width : 200px;
    height : 200px;
    border-radius: 48%;
    position:absolute; top:0; left:0;

}
#sect4 .circle::after{
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -8px;
    right: 62px;   
    position: absolute;
    bottom:-8px; left:50%; margin-left:-10px;
}
#sect4 .circle1 {
    background: #63D2F3;
    top:230px; left:250%;
}
#sect4 .circle1::after{
    border:10px solid #3498DB;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left-color: transparent; 
    border-right-color: transparent;
    border-top:none;
}

#sect4 .circle2 {
    background: #9ed027;
    top:150px; left:750px;
}
#sect4 .circle2::after{
    border:10px solid #80b10e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left-color: transparent; 
    border-right-color: transparent;
    border-top:none;
}
#sect4 .circle3 {
    background: #EB413B;
    top:100px; left:50%;
}
#sect4 .circle3::after{
    border:10px solid #df3724;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left-color: transparent; 
    border-right-color: transparent;
    border-top:none;
}
#sect4 .circle4 {
    background: #ff9d00;
    top:100px; left:580%;
}
#sect4 .circle4::after{
    border:10px solid #ec960b;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left-color: transparent; 
    border-right-color: transparent;
    border-top:none;
}
#sect4 .circle5 {
    background: #FBC800;
    top:450px; left:500%;
}
#sect4 .circle5::after{
    border:10px solid #FBC800;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left-color: transparent; 
    border-right-color: transparent;
    border-top:none;
}
#sect4 .circle6 {
    background: #FBC800;
    top:450px; left:80%;
}
#sect4 .circle6::after{
    border:10px solid #FBC800;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left-color: transparent; 
    border-right-color: transparent;
    border-top:none;
}
#sect4 .circle .btn {
    border: none;
    position: relative;
    background: none;
    display: inline-block;
    padding:20px 30px;
    margin:0 0 0 5px;
    color: inherit;
    letter-spacing: 2px;
    font-size: 1.2em;
    outline: none;
    transition: all 0.8s;
    cursor: pointer;
    color: #fff;
    display: block;
    outline: 1px solid transparent;
    transform-style: preserve-3d;
    font-family: 'Boogaloo';
}

#sect4 .btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 04.s;
}


#sect4 .circle .btn1 {
    background-color: #9ed027;
    top:70px; left:15px;
}
#sect4 .circle .btn1:after {
    width: 100%;
    height: 42%;
    left: 0;
    top: -40%;
    background: #80b10e;
    transform-origin: 0% 100%;
    transform: rotateX(90deg);
}
#sect4 .circle .btn1:hover {
    transform: rotateX(-45deg);    
}

#sect4 .circle .btn2 {
    background-color: #F9eB2F;
    top:70px; left:30px;
}
#sect4 .circle .btn2:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;
    background: #FBC800;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
}
#sect4 .circle .btn2:hover {
    transform: rotateX(35deg);   
}

#sect4 .circle .btn3 {
    background-color: #ff9d00;
    top:70px; left:12px;
}
#sect4 .circle .btn3:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    background: #ec960b;
    transform-origin:100% 0%;
    transform: rotateY(-90deg);
}
#sect4 .circle .btn3:hover {
    transform: rotateY(25deg);   
}

#sect4 .circle .btn4 {
    background-color: #63D2F3;
    top:70px; left:30px;
    padding:20px 40px;
}
#sect4 .circle .btn4:after {
    width: 20%;
    height: 100%;
    left: 100%;
    top: 0;
    background: #3498DB;
    transform-origin: 0% 0%;
    transform: rotateY(90deg);
}
#sect4 .circle .btn4:hover {
    transform: rotateY(-25deg);
}
#sect4 .circle .btn5 {
    background-color: #E74C3C;
    top:75px; left:25px;
}
#sect4 .circle .btn5:after {
    width: 20%;
    height: 100%;
    left: 100%;
    top: 0;
    background: #df3724;
    transform-origin: 0% 0%;
    transform: rotateY(90deg);
}
#sect4 .circle .btn5:hover {
    transform: rotateY(-25deg);
}
#sect4 .circle .btn6 {
    background-color: #63D2F3;
    top:70px; left:5px;
    padding:20px 10px;
}
#sect4 .circle .btn6:after {
    width: 20%;
    height: 100%;
    left: 100%;
    top: 0;
    background: #3498DB;
    transform-origin: 0% 0%;
    transform: rotateY(90deg);
}
#sect4 .circle .btn6:hover {
    transform: rotateY(-25deg);
}
#sect4 .pf {
    position:fixed;
    top:0; left:0; right:0; bottom:0;
    background: rgba(0,0,0,0.3);
    display:none;
}
#sect4 .pf.on {
    display:block;
}
#sect4 .pf .ppf {
    position:absolute;
    width:100%; height:100%;
    top:0; left:0; 
}
#sect4 .pf .ppf > div {
    width:800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    display:none;
}
#sect4 .close{
    position: absolute;
    right: 15%;
    top: 10%;
    z-index: 999999;
    cursor:pointer;
}
#sect5 .box .border { 
    background-color: #Fbc800;
    height:150px;
    opacity:0;
    transition: all 0.7s;
    border: 7px double #63D2F3;
}
#sect5 .box.on .border {
    opacity:1
}
#sect5 .formMailWrap {
    position: relative; top:0; left:0;
}
#sect5 .formMailWrap h2  { 
    opacity: 0; animation: titUp 1.5s both; 
    position:absolute; top:50px; left:23%;
    animation: titLeft 1.5s both;
    font-size:30px;
    color:#63D2F3;
    text-shadow: 2px 2px 2px #ddd; 
    font-family: 'Boogaloo';
}
@keyframes titLeft {
    0% {}
    100% {margin-left: 0; opacity: 1;}
}
#sect5 .formMailWrap.on h2 { 
    opacity:1
}

#sect5 .formMailWrap .contact {
    width: 70%; 
    display: inline-block; 
    opacity: 0; animation: titUp 1.5s both 0.6s;
    position:absolute; top:120px; left:10%;   
}
#sect5 .formMailWrap .letter {
    position: absolute; right: 0; top: 50px; width: 50%; height: 400px; 
    opacity: 0; animation: titUp 1.5s both 1.2s;
}
#sect5 .formMailWrap.on .contact {
    opacity:1;
}

@keyframes titUp {
    0% {}
    100% {margin-top: 0; opacity: 1;}
}

#sect5 .contact li {margin-bottom: 16px;}
#sect5 .contact li input, 
#sect5 .contact li textarea {
    font-size: 1rem; padding: 0.9rem 1rem; background: #fafafa; 
    border: 2px solid #e1e1e1; border-radius: 5px; width: 60%;
}
#sect5 .contact  li input::placeholder ,
#sect5 .contact  li textarea::placeholder{
    font-size: 0.9rem; color: #666; font-weight: bold;
}
#sect5 .contact ul li textarea {
    height: 140px; resize: none;
}

#sect5 .contact a {
    width: 60%; font-size: 1.2rem; padding: 1rem; 
    background: #63D2F3; border-radius: 5px; color: #fff; 
    display: inline-block; text-align: center;
    font-family: 'Boogaloo';
}
#sect5 .letter ul {
    position: relative; top:30%; right:-10%;
    animation: letterani 2.5s infinite ease-in-out;
}
@keyframes letterani{
    0%, 100% {}
    50% {margin-top: -40px;}
}

#sect5 .letter li {
    position: absolute; top:0; left:0; right:0; bottom:0;
    opacity: 0;
}
#sect5 .letter li.on {
    opacity:1
}
#sect5 .letter  li:nth-child(2) {
    margin-top: 0px; transition: 1.2s ease;
}
#sect5 .letter li p {
    position: absolute; right:10%; top:100px; 
    text-align: center; width: 100%; color: #666; font-size: 1.5rem;
    line-height: 2.8rem; opacity: 1; transition: 2s ease 1s;
}
#sect5 .letter li p strong {
    font-size: 1.3rem; background: #63D2F3; 
    padding: 20px 7px; color: #fff;
}
#sect5 .letter span {
    position: absolute; display: inline-block; 
    width: 45%; height: 17px; bottom:-100px; background: rgba(0,0,0,.3); 
    right: 25%;  border-radius: 50%; 
    filter: blur(13px); z-index: 1; 
    animation: shadowani1 2.5s infinite ease-in-out;
}
@keyframes shadowani1{
    0%, 100% {}
    50% {width: 25%; height: 30px; background: rgba(0,0,0,.08); filter: blur(16px);}
}
