@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

html { 
    /* overflow:hidden */
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
}   
.loading {
    position:fixed;
    top:0%; left:0; bottom:0; right:0;
    background: #FDC800;
    overflow: hidden;
    text-align: center;
    z-index: 99;
}

#menu { position:fixed; top:50%; transform:translateY(-50%); right:120px; z-index:9 }

#menu li { margin:10px 0;}
#menu li a { display:block; width:20px; height:20px; border-radius:50%;
    background: #ff9d00; position:relative; transition:all 0.5s}
#menu li a span{ position:absolute; left:30px; opacity:0; color:#666; font-size: 12px; top:2px;}
#menu li.on a {background: #F9eB2F; transform:scale(1.2); }
#menu li.on a span {opacity:1;}

section { 
    width:100vw; 
    height:100vh; 
    position:relative;
    overflow:hidden; 
    border-bottom: 1px solid #FBC800;
}

#sect1 {
    background-image: linear-gradient(135deg, #63D2F3 50%,  #Fbc800 50%);

}
#sect1 h1 {
transition: all 0.5s;
-webkit-text-stroke: 4px #d6f4f4;
font-variation-settings: "wght" 600, "ital" 1;
font-size: 8rem;
text-align: center;
color: transparent;
font-family: "Meta", sans-serif;
text-shadow: 10px 10px 0px #9ed027,
    15px 15px 0px #EB413B,
    45px 45px 10px #ff9d00;
cursor: pointer;
transform: translateY(50%);
}

#sect1 h1:hover {
font-variation-settings: "wght" 100, "ital" 0;
text-shadow: none;
}


#sect3 {
    background: url(../images/legoback.png)no-repeat center;
    background-size: cover;
    position:relative;
}

#sect3 #skill > .row { display:flex; flex-wrap:wrap; 
    align-content:center; justify-content:center;
    /* align-content: = 두줄 이상일 때, align-items = 한줄정렬일 때 */
}
#sect3 #skill .container { 
    width:25.3%; 
    text-align:center; position:relative; 
    margin:60px 0 50px 0;
}
#sect3 #skill .pBox { 
    width:180px; height: 180px; 
    position:absolute; line-height:180px;  
    color:#000;
    font-size:20px;
}
#sect3 #skill .tit {
    color:#000;
    transform: translate(0, 850%);
    font-size: 20px;
}
#sect3 img:nth-child(1) {
    width:150px; height:100px;
    position:absolute;
    top:62%; left:20%;
    animation: lego-ani 10s infinite;
}
#sect3 img:nth-child(2){
    width:200px; height:200px; 
    position:absolute; 
    top:70%; right:150px; 
}

@keyframes lego-ani {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(-40px, 30px);
    }
}

#sect5 h2  { 
    opacity: 0; animation: titUp 1.5s both; 
    transform: translate(28%, 400%);
    margin-left: -50px; animation: titLeft 1.5s both;
}

.formMailWrap {
    position: relative;
}
.formMailWrap .contact {
    width: 50%; 
    display: inline-block; 
    opacity: 0; animation: titUp 1.5s both 0.6s;
    transform: translate(35%, 40%);
}
.formMailWrap .letter {
    position: absolute; right: 0; top: 0; width: 50%; height: 400px; 
    margin-top: 50px; opacity: 0; animation: titUp 1.5s both 1.2s;
}
.contact ul li {margin-bottom: 16px;}
.contact ul li input, 
.contact ul li textarea {
    font-size: 1rem; padding: 0.9rem 1rem; background: #fafafa; 
    border: 2px solid #e1e1e1; border-radius: 5px; width: 60%;
}
.contact ul li input::placeholder ,
.contact ul li textarea::placeholder{
    font-size: 0.9rem; color: #666; font-weight: bold;
}
.contact ul li textarea {
    height: 140px; resize: none;
}

.contact a {
    width: 60%; font-size: 1.2rem; padding: 1rem; 
    background: #FDC800; border-radius: 5px; color: #fff; 
    display: inline-block; text-align: center;
}
.letter ul {
    position: relative; 
    animation: letterani 2.5s infinite ease-in-out;
}
.letter ul li {
    position: absolute;  top:0; left:0; right:0; bottom:0;
    transform: translate(5%, 200px);
}
.letter ul li:nth-child(2) {
    margin-top: 0px; transition: 1.5s ease;
}

.letter ul li p {
    position: absolute; left: 0; right:0; top:0; bottom:0;
    transform: translate(-23.5%, 90px); 
    top: 23%; text-align: center; width: 100%; color: #666; font-size: 1.5rem;
    line-height: 2.8rem; opacity: 1; transition: 2s ease 1s;
}
.letter ul li p strong {
    font-size: 1.3rem; background: #ff9d00; 
    padding: 20px 7px; color: #fff;
}
.letter span {
    position: absolute; display: inline-block; 
    width: 45%; height: 17px; bottom: 0; background: rgba(0,0,0,.3); 
    left: 10%; transform: translateY(850%); border-radius: 50%; 
    filter: blur(13px); z-index: 1; 
    animation: shadowani1 2.5s infinite ease-in-out;
}


/* scroll animation */
/* @keyframes bgAni { 
    0% {} 
    100% {opacity: 1;} 
} */
@keyframes titUp {
    0% {}
    100% {margin-top: 0; opacity: 1;}
}
@keyframes txtUp {
    0% {}
    100% {padding-top: 0; opacity: 1;}
}
@keyframes titLeft {
    0% {}
    100% {margin-left: 0; opacity: 1;}
}
@keyframes txtRight {
    0% {}
    100% {margin-right: 0; opacity: 1;}
}

@keyframes letterani{
    0%, 100% {}
    50% {margin-top: -40px;}
}
@keyframes float-x {
    0% {opacity: 0; transform: translateX(0);}
    35%, 65% {opacity: 1; transform: translateX(-100%);}
    100% {opacity: 0; transform: translateX(-200%);}
}
@keyframes float-y {
    0%, 100% {transform: translateY(0px);}
    50% {transform: translateY(20px);}
}
